<h1>Test</h1>
<%= params %>
<p>The current temperature at <%= @address %> is <%= @the_temperature %> degrees.</p>
<p>The outlook for the next hour is: <%= @the_hour_outlook %></p>
<p>The outlook for the next day is: <%= @the_day_outlook %></p>
